
<section id="about" class="section-padding" style="background-color: var(--bg-secondary);">
    <div class="container mx-auto px-6">
        <div class="max-w-4xl mx-auto">
            <h2 class="text-4xl md:text-5xl font-bold text-center mb-16 gradient-text fade-in">Sobre Mí</h2>
            
            <div class="grid md:grid-cols-2 gap-12 items-center">
                <div class="fade-in">
                    <div class="w-70 h-70 mx-auto rounded-2xl bg-gradient-to-br from-blue-500 to-purple-600 flex items-center justify-center text-white text-6xl">
                        <img src="../../public/img/me.jpg" alt="" class="rounded-2xl">
                    </div>
                </div>
                
                <div class="fade-in">
                    <h3 class="text-2xl font-bold mb-6">Desarrolladora Apasionada</h3>
                    <p class="text-lg mb-6" style="color: var(--text-secondary);">
                       ¡Hola!, mi nombre es Dorian Samantha (Samantha de preferencia) me caracterizo por ser una líder técnica, mi obsesión por los algoritmos y el código limpio va de la mano con mi convicción de que el mejor software nace de equipos alineados y motivados. 
                       Transformo problemas complejos en soluciones escalables no solo mediante estructuras de datos óptimas, sino cultivando espacios donde cada desarrollador aporta su mejor versión. Para mí, escribir código elegante es tan importante como construir relaciones sólidas, porque los sistemas extraordinarios los crean equipos extraordinarios. 
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>