---
const {rights} = Astro.props;
---


<footer class="py-8 text-center" style="border-top: 1px solid var(--border-color);">
    <div class="container mx-auto px-6">
    <p style="color: var(--text-secondary);">
        {rights}
    </p>
    </div>
</footer>