---
import Skills from "./Skills.astro"

import { hardSkills } from "../content/db/hardSkills";
import {softSkills} from '../content/db/softSkills';
---
<!-- Skills Section -->
<section id="skills" class="section-padding">
    <div class="container mx-auto px-6">
        <h2 class="text-4xl md:text-5xl font-bold text-center mb-16 gradient-text fade-in">Habilidades</h2>
        
        <!-- Hard Skills -->
        <Skills
        typeSkills="Habilidades duras",
        skills={hardSkills}
        />

        <!-- Soft Skills -->
        <Skills
        typeSkills="Habilidades blandas",
        skills={softSkills}
        />
    </div>
</section>